body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on the body */
}

.container {
    height: 100vh; /* Set the height to the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1; /* Initial opacity */
    transform: translateY(0); /* Initial position */
    transition: opacity 1s ease, transform 1s ease; /* Animation properties */
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 275px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

h2 {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}